/*font-family: 'Raleway', sans-serif;
font-family: 'Bowlby One SC', cursive;
font-family: 'Liu Jian Mao Cao', cursive; */

body { 
    background-color: #5dd1a8;
    font-family: 'Raleway', sans-serif;
    color: #1b1d42;
}

#page {
    width: 760px;
    margin: 0 auto;
}

#logo {
    font-size: 2.25em;
    font-weight: lighter;
}

h1 {
    font-size: 3em; 
    font-weight: bold;
}


