/*font-family: 'Raleway', sans-serif;
font-family: 'Bowlby One SC', cursive;
font-family: 'Liu Jian Mao Cao', cursive; */

body { 
    background-color: #5dd1a8;
    font-family: 'Raleway', sans-serif;
    color: #1b1d42;
}

